name: Build OpenEmuRPC

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-15-intel
            arch: x86_64
          - os: macos-15
            arch: arm64

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Build
        run: |
          cd scripts
          ./build.sh
          cd ../dist
          zip -yr OpenEmuRPC-${{ matrix.arch }}.zip OpenEmuRPC.app

      - name: Upload Build
        uses: softprops/action-gh-release@v2
        with:
          files: dist/OpenEmuRPC-${{ matrix.arch }}.zip